{
  "parser": "babel-eslint",
  "extends": "icelandair",
  "rules": {
    "no-console": ["off"],
    "no-param-reassign": ["off"]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  }
}
