{
  "extends": "icelandair",
  "rules": {
    "no-unsafe-finally": ["off"],
    "no-useless-computed-key": ["off"],
    "no-console": ["off"],
    "no-underscore-dangle": ["off"],
    "no-param-reassign": ["off"]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  }
}
